<h1 class="title"><span>欢迎登录Snailize团队内部网站</span></h1>
<p>亲爱的蜗牛人：<br />
　　当你们看到这一页面，说明你已经是我们中的一员了。在这，我们将毫不保留的将蜗牛化企业团队的一切共享。<br />
　　首先向大家介绍一下“蜗牛化”的含义——蜗牛经过的地方都会留下一条长长地印迹。“我们在这里是要给世界留下一个印记，否则，为什么要来这里？”这是《硅谷传奇》的开场白，同时也是我们蜗牛化企业的“开场白”。我们的印记就是蜗牛的印迹。<br />
　　虽然身为蜗牛人，但是我们首先是一个学生，第一要务不言而喻——学习，在学习之余、社交之后参加一个项目做一点有用的事，总会有一点报酬，这种报酬就是经验。这是世界上最有价值的东西，也是人家不会抢去的东西。<br />
　　我们要树立一种新的观念——“困难观”，我们时常会被意想不到的障碍搞得一筹莫展，时常会感到每前进一步都异常困难，请不要怀疑自己，也不要怀疑项目，换一条思路吧。识途老马开始熟人事情的时候，都难免会有差错，更何况我们是在从事从未摸过的新事物！<br />
　　希望我们所创造的信仰能够影响世界。</p>
<div class="boxed">
	<h2 class="title" onclick=" Effect.toggle($('smcontent'),'Blind', {duration:0.5})" style="cursor:pointer">使用说明</h2>
	<div class="content" id="smcontent" style="display:none">
		<p>正如标题所示，这是我们团队自己的内部网站，主要供团队成员管理项目进度、交流最近动态所用。由于外人无法访问，大家可以放心发布机密信息。请大家注意保护自己的帐号安全，以免泄露内部信息。</p>
		<h3>网站功能</h3>
		<ol>
			<li>"成员"：快速查阅团队成员信息</li>
			<li>"项目"：管理项目进度</li>
			<li>"讨论区"：类似论坛，主题式讨论</li>
			<li>另外首页置有公共情报栏，团队成员都可以在此发布最新消息</li>
		</ol>
	</div>
</div>